In [1]:
import pandas as pd

In [4]:
goog=pd.read_csv('GOOG_data.csv')

In [7]:
goog=goog.drop(columns = ['High','Low','Open','Volume','Adj Close', 'Name'])

In [8]:
goog

            Date        Close
0     2016-08-02   771.070007
1     2016-08-03   773.179993
2     2016-08-04   771.609985
3     2016-08-05   782.219971
4     2016-08-08   781.760010
...          ...          ...
1254  2021-07-27  2735.929932
1255  2021-07-28  2727.629883
1256  2021-07-29  2730.810059
1257  2021-07-30  2704.419922
1258  2021-08-02  2713.239990

[1259 rows x 2 columns]